@model Datos
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tendencias del internet</h1>
    <h2>Búsqueda de las páginas</h2>
    <span></span>
    

    @using (Html.BeginForm("Index", "Home", FormMethod.Post)) 
    {
        @Html.TextBoxFor(model => model.CampoBusqueda)
        <button type="submit">Buscar</button>
    }
</div>
